/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.order-view-admin .wp-list-table tbody td, .order-view-admin .wp-list-table tbody th {
    padding: 1em;
    line-height: 26px;
}

.order-view-admin .wp-list-table thead th, .order-view-admin .wp-list-table tfoot th {
    padding: 0.75em 1em;
    line-height: 1.4em;
}

.order-view-admin .wp-list-table thead th.sortable a, .order-view-admin .wp-list-table tfoot th.sortable a{
	padding:0;
}

.order-view-admin .wp-list-table td, .order-view-admin .wp-list-table th {
    vertical-align: middle;
}

.order-view-admin .wp-list-table .check-column {
    width: 1px;
    white-space: nowrap;
    padding: 1em 1em 1em 1em !important;
    vertical-align: middle;
}

.order-view-admin .wp-list-table .check-column input {
    vertical-align: text-top;
    margin: 1px 0;
}

.order-view-admin .wp-list-table .order-preview::before {
 	font-family: WooCommerce;
 	font-weight: 400;
 	font-variant: normal;
 	text-transform: none;
 	margin: 0;
 	text-indent: 0;
 	position: absolute;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	text-align: center;
 	content: "";
 	line-height: 16px;
 	font-size: 14px;
 	vertical-align: middle;
 	top: 4px;
}

.order-view-admin .wp-list-table .order-preview {
	float: right;
	width: 16px;
	padding: 20px 4px 4px 4px;
	height: 0;
	overflow: hidden;
	position: relative;
	border: 2px solid
	transparent;
	border-radius: 4px;
}

.order-view-admin .wp-list-table .order-preview:hover {
    border: 2px solid #00a0d2;
}

.order-view-admin .order-status {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    line-height: 2.5em;
    border-radius: 4px;
    border-bottom: 1px solid 
    rgba(0,0,0,.05);
    margin: -.25em 0;
    cursor: inherit !important;
    white-space: nowrap;
    max-width: 100%;
}

.order-view-admin .order-status > span {
    margin: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-view-admin .order-status.status-completed {
    background: #c8d7e1;
	color: #2e4453;
}

.order-view-admin .order-status.status-on-hold {
    background: #f8dda7;
	color: #94660c;
}

.order-view-admin .wp-list-table .column-order_id {
    width: 20ch;
}

.order-view-admin .wp-list-table .column-name {
    width: 10ch;
}

.order-view-admin .wp-list-table .column-status {
    width: 14ch;
}

.order-view-admin .wp-list-table .column-date {
    width: 10ch;
}

.order-view-admin .wp-list-table .column-billing_address {
    width: 20ch;
    line-height: 1.5em;
}

.order-view-admin .wp-list-table .column-shipping_address {
    width: 20ch;
    line-height: 1.5em;
}

.order-view-admin .wp-list-table .column-total {
    width: 8ch;
    text-align: right;
}

.order-view-admin .wp-list-table .column-total a span {
	float:right;
}

.order-view-admin .wp-list-table .tooltip {
	position: relative;
	display: inline-block;
	padding: 0px 0px 0px 5px;
}

.order-view-admin .wp-list-table .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #333333;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 3px 0;
	position: absolute;
	z-index: 1;
	top: -3px;
	right: 110%;
	font-size: 10px;
}

.order-view-admin .wp-list-table .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}
.order-view-admin .wp-list-table .tooltip:hover .tooltiptext {
	visibility: visible;
}

.order-view-admin .wp-list-table .column-billing_address .description,
.order-view-admin .wp-list-table .column-shipping_address .description {
    display: block;
    color: #999;
}

.order-view-admin .tablenav input,
.order-view-admin .tablenav select {
    line-height: 1;
    height: 32px;
}

.order-view-admin .tablenav .select2-container {
    float: left;
    width: 240px !important;
    font-size: 14px;
    vertical-align: middle;
    margin: 1px 6px 4px 1px;
}

.order-view-admin .select2-container .select2-selection--single {
    height: 32px;
}

.order-view-admin .select2-container .select2-selection--single .select2-selection__arrow {
    right: 3px;
    height: 30px;
}

#wpfooter {
	position: relative;
}


/**
 * Order View Admin settings page CSS
 *
 */


.order-view-admin-settings .switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.order-view-admin-settings .switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.order-view-admin-settings .switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.order-view-admin-settings .switch-field label:hover {
	cursor: pointer;
}

.order-view-admin-settings .switch-field input:checked + label {
	background-color: #0085ba;
	color:#ffffff;
	box-shadow: none;
}

.order-view-admin-settings .switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.order-view-admin-settings .switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}


/**
 * Order View Admin settings page CSS
 *
 */

.order-view-order-details #woocommerce-coupon-data .inside, 
.order-view-order-details #woocommerce-order-data .inside, 
.order-view-order-details #woocommerce-order-items .inside,
.order-view-order-details #woocommerce-order-downloads .inside, 
.order-view-order-details #woocommerce-product-data .inside, 
.order-view-order-details #woocommerce-product-type-options .inside {
    display: block;
    margin: 0;
    padding: 0;
}

.order-view-order-details #order_data {
    padding: 23px 24px 12px;
}

.order-view-order-details #order_data h2 {
    margin: 0;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: 1px 1px 1px #fff;
    padding: 0;
}

.order-view-order-details #order_data h3, 
.order-view-order-details #order_data h4 {
    color: #333;
    margin: 1.33em 0 0;
}

#order_data h3 {
    font-size: 14px;
}

.order-view-order-details #order_data p {
    color: #777;
}

.order-view-order-details #order_data p.order_number {
    margin: 0;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 16px;
}

.order-view-order-details #order_data .order_data_column .form-field label {
    display: block;
    padding: 0 0 3px;
}

.order-view-order-details #order_data .order_data_column .form-field input[type="text"] {
	width:100%;
}

.order-view-order-details #order_data .order_data_column {
    width: 32%;
    padding: 0 2% 0 0;
    float: left;
}

.order-view-order-details #order_data .order_data_column:last-child {
    padding-right: 0;
}

.order-view-order-details #order_data .order_data_column .form-field .date-picker {
    width: 50% !important;
}

.order-view-order-details #order_data .order_data_column .form-field .hour, 
.order-view-order-details #order_data .order_data_column .form-field .minute {
    width: 3.5em;
}

.order-view-order-details #order_data .order_data_column .wc-customer-user label a, 
.order-view-order-details #order_data .order_data_column .wc-order-status label a {
    float: right;
    margin-left: 8px;
}

.order-view-order-details #order_data .order_data_column .address strong {
	display: block;
}

.order-view-order-details #order_data .order_data_column p.none_set {
    color: #999;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper {
    margin: 0;
    overflow-x: auto;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items {
    width: 100%;
    background: 
    #fff;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items thead th:first-child,
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td:first-child {
    padding-left: 2em;
}
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items thead th:last-child,
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td:last-child {
    padding-right: 2em;
}
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items thead th.sortable {
    cursor: pointer;
}
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .item {
    min-width: 200px;
}
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items thead th {
    text-align: left;
    padding: 1em;
    font-weight: 400;
    color: #999;
	background: #f8f8f8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items th.line_tax {
    white-space: nowrap;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody th, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td {
    padding: 1.5em 1em 1em;
    text-align: left;
    line-height: 1.5em;
    vertical-align: top;
    border-bottom: 1px solid #f8f8f8;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .cost, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .item_cost, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .line_cost, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .line_tax, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .quantity, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .tax, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .tax_class {
    text-align: right;
}


.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody#order_line_items tr:first-child td {
    border-top: none;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody tr:first-child td {
    border-top: 8px solid #f8f8f8;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody tr:last-child td {
    border-bottom: 1px solid 
    #dfdfdf;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.thumb {
    text-align: left;
    width: 38px;
    padding-bottom: 1.5em;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.thumb .wc-order-item-thumbnail {
    width: 38px;
    height: 38px;
    border: 2px solid #e8e8e8;
	background: #f8f8f8;
	color: #ccc;
    position: relative;
    font-size: 21px;
    display: block;
    text-align: center;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.thumb .wc-order-item-thumbnail::before {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    width: 38px;
    line-height: 38px;
    display: block;
}

.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.name .wc-order-item-sku, 
.order-view-order-details #woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.name .wc-order-item-variation {
    display: block;
    margin-top: .5em;
    font-size: .92em !important;
    color: 
    #888;
}

.order-view-order-details #woocommerce-order-items .wc-order-data-row {
    border-bottom: 1px solid #dfdfdf;
	padding: 1.5em 2em;
	background: #f8f8f8;
    line-height: 2em;
    text-align: right;
}

.order-view-order-details #woocommerce-order-items .wc-order-data-row::after, 
.order-view-order-details #woocommerce-order-items .wc-order-data-row::before {
    content: ' ';
    display: table;
}

.order-view-order-details #woocommerce-order-items .wc-order-totals {
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.order-view-order-details #woocommerce-order-items .wc-order-totals .label {
    vertical-align: top;
}

.order-view-order-details #woocommerce-order-items .wc-order-totals .total {
    font-size: 1em !important;
    width: 10em;
    margin: 0 0 0 .5em;
    box-sizing: border-box;
}

.order-view-order-details #woocommerce-order-items .wc-order-totals .amount {
    font-weight: 700;
}

.order-view-order-details #woocommerce-order-items .amount {
    white-space: nowrap;
}

.order-view-order-details #poststuff #woocommerce-order-notes .inside{
	margin: 0;
	padding: 0;
}

.order-view-order-details .toggle-indicator {
    color: #72777c;
}

.js .order-view-order-details .postbox .handlediv .toggle-indicator::before {
    margin-top: 4px;
    width: 20px;
    border-radius: 50%;
    text-indent: -1px;
}

.js .order-view-order-details .meta-box-sortables .postbox .toggle-indicator::before {
	content: "\f142";
	display: inline-block;
	font: normal 20px/1 dashicons;
	text-decoration: none !important;
}

.js .order-view-order-details .meta-box-sortables .postbox.closed .toggle-indicator::before{
    content: "\f140";
}

.order-view-order-details #poststuff #woocommerce-order-notes .inside ul.order_notes li {
    padding: 0 10px;
}

.order-view-order-details ul.order_notes li .note_content {
    padding: 10px;
    background: #efefef;
    position: relative;
}

.order-view-order-details ul.order_notes li.system-note .note_content {
    background: 
    #d7cad2;
}

.order-view-order-details ul.order_notes li .note_content p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.order-view-order-details ul.order_notes li .note_content::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: #efefef
    transparent;
}

.order-view-order-details ul.order_notes li.system-note .note_content::after {
    border-color: #d7cad2
    transparent;
}

.order-view-order-details ul.order_notes li p.meta {
    padding: 10px;
    color: #999;
    margin: 0;
    font-size: 11px;
}

.order-view-order-details  ul.order_notes li p.meta .exact-date {
    border-bottom: 1px dotted #999;
}


.order-view-order-details #wc_am_api_keys .inside, 
.order-view-order-details #wc_am_api_key_activations .inside {
    display: block;
    margin: 0;
    padding: 0;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metaboxes {
    border-bottom: 1px solid #eee;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox.closed {
    border-radius: 3px;
}
.order-view-order-details .wc-metaboxes-wrapper .wc-metabox:last-of-type {
    border-bottom: 0;
}
.order-view-order-details .wc-metaboxes-wrapper .wc-metabox {
    background: #fff;
    margin: 0 !important;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox h3.fixed {
    cursor: pointer !important;
}
.order-view-order-details .wc-metaboxes-wrapper .wc-metabox.closed h3 {
    border: 0;
}
.order-view-order-details .wc-metaboxes-wrapper .wc-metabox h3 {
    margin: 0 !important;
    padding: .75em .75em .75em 1em !important;
    font-size: 1em !important;
    overflow: hidden;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox h3 .handlediv {
    background-position: 6px 5px !important;
    visibility: hidden;
    height: 26px;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox.closed .handlediv::before {
    content: "\f140" !important;
}
.order-view-order-details .wc-metaboxes-wrapper .wc-metabox .handlediv::before {
    content: "\f142" !important;
    cursor: pointer;
    display: inline-block;
    font: 400 20px/1 Dashicons;
    line-height: .5 !important;
    padding: 8px 10px;
    position: relative;
    right: 12px;
    top: 0;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox h3 strong {
    font-weight: 400;
    line-height: 26px;
    font-weight: 700;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox h3:hover .handlediv {
    visibility: visible;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table {
    width: 100%;
    position: relative;
    background-color: #fdfdfd;
    padding: 1em;
    border-top: 1px solid #eee;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table td {
    text-align: left;
    padding: 0 6px 1em 0;
    vertical-align: top;
    border: 0;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table td label {
    text-align: left;
    display: block;
    line-height: 21px;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table td input, 
.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table td textarea {
    width: 100%;
    margin: 0;
    display: block;
    font-size: 14px;
    padding: 4px;
    color: 
    #555;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table td input.short {
    width: 200px;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table td input {
    float: left;
    min-width: 200px;
}

.order-view-order-details .wc-metaboxes-wrapper .wc-metabox table td input.am_checkbox, 
.order-view-order-details td > input[type="checkbox"], 
.order-view-order-details .wp-admin p input[type="checkbox"].am_checkbox {
    border-width: 1px;
    border-style: solid;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: 2px 3px 2px 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.order-view-order-details #activations-table {
    width: 100%;
    text-align: left;
}

.order-view-order-details #activations-table th {
    padding: 10px;
    background: #424242;
    color: #fff;
}

.order-view-order-details #subscription_renewal_orders .inside {
    display: block;
    margin: 0;
    padding: 0;
}

.order-view-order-details .woocommerce_subscriptions_related_orders {
    margin: 0;
    overflow: auto;
}

.order-view-order-details .woocommerce_subscriptions_related_orders table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

.order-view-order-details .woocommerce_subscriptions_related_orders table thead th:first-child,
.order-view-order-details .woocommerce_subscriptions_related_orders table td:first-child {
    padding-left: 12px;
}
.order-view-order-details .woocommerce_subscriptions_related_orders table thead th {
    background: #f8f8f8;
    padding: 8px;
    padding-left: 8px;
    font-size: 11px;
    text-align: left;
    color:#555;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order-view-order-details .woocommerce_subscriptions_related_orders table tbody th, 
.order-view-order-details .woocommerce_subscriptions_related_orders table td {
    padding: 8px;
    text-align: left;
    line-height: 26px;
    vertical-align: top;
    border-bottom: 1px dotted #ececec;
}

.order-view-order-details .woocommerce_subscriptions_related_orders table tbody tr:last-child td {
    border-bottom: none;
}

.order-view-order-details .woocommerce_subscriptions_related_orders table thead th:last-of-type, 
.order-view-order-details .woocommerce_subscriptions_related_orders table td:last-of-type {
    text-align: right;
}

.order-view-order-details #woocommerce-subscription-schedule table {
    width: 100%;
}

.order-view-order-details #woocommerce-subscription-schedule table td{
    padding: 10px 0px;
}

.order-view-order-details #woocommerce-subscription-schedule table td:last-of-type {
    text-align: right;   
}